@model ProjFinalCinelAirClient.Models.ConvertMilesViewModel
@{
    ViewData["Title"] = "ConvertMiles";
}

<partial name="_MainMenuPartial" />

<br />
<div class="col-12 text-center">
    <h2>Convert Miles</h2>
</div>
<div class="col-12 text-center">
    <p>Here you can convert Bonus miles in Status miles. You can only convert blocks of 2000 Miles and each block gives half of that amount in Status Miles.
    The number of miles to convert is limited by the anual cumulation period</p>
    <p>Converting Miles costs 14€ per 2000 miles and the amount converted is not refundable. Payment must be done by the client through credit card</p>
</div>
<br />


<form method="post" asp-action="MileShopConvertMiles_confirm">
    <input type="hidden" asp-for="Id" />




    @if (Model.ShopList.Count > 0)
    {
        @if (!string.IsNullOrEmpty((string)TempData["succ"]))
        {
            <div>
                <div class="alert alert-success" role="alert" style="font-size:large; font-weight:bold">@TempData["succ"]</div>
            </div>
        }
        <br />

        <br />
        <br />
        <div class="col-12 ">
            <p>Please choose an amount</p>
        </div>
        <div class="row" style="padding-left:20px; font-weight: bold; grid-row-gap: 1em; grid-column-gap: 0.6em">
            @foreach (var item in Model.ShopList)
            {
                <div class="col-md-4 d-flex " style="vertical-align:middle; height:60px;border: solid 1px cadetblue">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center justify-content-center" style="background-color:cadetblue; vertical-align: middle;text-align: center;">
                            <input value="@item.MileQuantity" type="radio" style="transform: scale(1.5)" asp-for="SelectedRadio" id="@item" />
                        </div>
                        <div class="col-10 d-flex align-items-center" style="width: 300px;text-align:center;">
                            @item.MileQuantity Miles | @(item.MileQuantity / 2) Status Miles
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        <br />
        @if ((string)TempData["radio"] == "Please select an amount")
        {
            <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["radio"]</div>
        }
        <br />

        <br />

        <button id="finish" value="Finish Convert" style="background-color: cadetblue" type="submit" class="btn btn-primary btn-block">Complete Conversion</button>

    }
    else
    {
        @if (!string.IsNullOrEmpty((string)TempData["succ"]))
        {
            <div>
                <div class="alert alert-success" role="alert" style="font-size:large; font-weight:bold">@TempData["succ"]</div>
            </div>
        }
        <br />

        <div class="col-12 text-center d-flex align-items-center">
            <br />
            <br />
            <br />
            <br />
            <div style="border: solid 1px cadetblue; padding: 5px">
                <p>
                    In accordance to your status you do not have enough miles to convert or
                    you've reached the maximum amount of miles you can convert according to your anual period(20000 miles)
                </p>
            </div>

        </div>
    }


    <br />
</form>
