@model ProjFinalCinelAirClient.Models.ExtendMilesViewModel
@{
    ViewData["Title"] = "BuyMiles";
}


<br />
<div class="col-12 text-center">
    <h2>Extend Miles</h2>
</div>
<div class="col-12 ">
    <p>
        Here you can extend the expiration date on your miles by 3 years.
        Extending miles is only available in blocks of 2000 miles and its only possible before
        the miles expire. this transaction is not refundable.
    </p>
    <p style="font-weight:bold">
        Each 2000 Miles cost 25€ to extend.
    </p>
</div>
<br />
<br />
@if (!string.IsNullOrEmpty((string)TempData["error"]))
{
    <div>
        <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["error"]</div>
    </div>
}

@if (Model.ShopList.Count > 0)
{
    @if (!string.IsNullOrEmpty((string)TempData["succ"]))
    {
        <div>
            <div class="alert alert-success" role="alert" style="font-size:large; font-weight:bold">@TempData["succ"]</div>
        </div>
    }
    <br />
    <br />
    <p>Please choose an amount</p>


    <form method="post" asp-action="MileShopExtendMiles_Confirm">
        <input type="hidden" asp-for="Id" />

        <div class="row" style="font-weight: bold; grid-row-gap: 1em; grid-column-gap: 2em">
            @foreach (var item in Model.ShopList)
            {
                <div class="col-md-2 d-flex" style="vertical-align:middle; height:60px;border: solid 1px black">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center" style="background-color:cadetblue; vertical-align: middle;text-align: center; border: solid 1px lightblue">
                            <input value="@item.MileQuantity"  onChange="getData()" type="radio" asp-for="SelectedAmount" id="@item" />
                        </div>
                        <div class="col-9 d-flex align-items-center" style="text-align:center">
                            @item.MileQuantity Miles
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        @if (!string.IsNullOrEmpty((string)TempData["radio"]))
        {
            <div>
                <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["radio"]</div>
            </div>
        }
        <br />
        <div id="payment" class="row" style="visibility:hidden">
            <div class="col-md-6 offset-md-3">
                <div style="border: 1.5px black solid; border-radius:25px; padding: 15px; font-family: 'Arial Rounded MT', Arial, sans-serif">

                    <h2>Payment Form</h2>

                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CardHolderName">Card Holder</label>
                                <input asp-for="CardHolderName" placeholder="Name" class="form-control" />
                                <span asp-validation-for="CardHolderName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="CardNumber">CardNumber</label>
                                <input asp-for="CardNumber" class="form-control" />
                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ExpirationDate">Card Expiry Date</label>
                                <input asp-for="ExpirationDate" type="date" class="form-control" />
                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <br />

        <button id="finish" value="Finish Purchase" style="font-weight: bold; background-color: cadetblue" type="submit" class="btn btn-primary btn-block">Complete Purchase</button>

    </form>
}
else
{

    @if (!string.IsNullOrEmpty((string)TempData["succ"]))
    {
        <div>
            <div class="alert alert-success" role="alert" style="font-size:large; font-weight:bold">@TempData["succ"]</div>
        </div>
    }
    <br />

    <div class="col-12 text-center">
        <br />
        <br />
        <br />
        <br />
        <p>Your current Miles do not allow you to make an extension or you've reached the maximum amount of miles you can extend per year(20000 miles)</p>
    </div>
}


<script type="text/javascript">
        function getData() {

            var paymentElem = document.getElementById("payment")

            paymentElem.style.visibility = "visible";
            paymentElem.style.display = "inline";

        }


</script>


