@model ProjFinalCinelAirClient.Models.BuyMilesViewModel
@{
    ViewData["Title"] = "BuyMiles";
}

<partial name="_MainMenuPartial" />

<br />
<div class="col-12 text-center">
    <h2>Buy Miles</h2>
</div>
<br />
<br />
<br />

@if (Model.ShopList.Count > 0)
{
    @if (!string.IsNullOrEmpty((string)TempData["succ"]))
    {
        <div>
            <div class="alert alert-success" role="alert" style="font-size:large; font-weight:bold">@TempData["succ"]</div>
        </div>
    }


    <form method="post" asp-action="MileShopBuyMiles">
        <input type="hidden" asp-for="Id" />

        <div class="row" style="font-weight: bold; grid-row-gap: 1em;">
            @foreach (var item in Model.ShopList)
            {
                <div class="col-md-2 justify-content-md-center" style="border: solid 1px black">
                    <div class="col-md-12 text-center" style="color:cadetblue ;vertical-align:middle;text-align:center; display:table-cell;font-weight:bold; height:50px ">
                        @item.MileQuantity miles
                    </div>
                    <div class="col-md-12 text-center" style="border-top: solid 1px black; height: 50px ">
                        <div class="row" style="padding-top: 15px">
                            <div class="col-md-8">
                                @item.Price €
                            </div>
                            <div class="col-md-4">
                                <input value="@item.Id" onChange="getData(@item.Id)" type="radio" asp-for="SelectedRadio" id="@item.Id" />
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
        <br />
        @if (!string.IsNullOrEmpty((string)TempData["mss"]))
        {
            <div>
                <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["mss"]</div>
            </div>
        }

        <br />
        <div row id="total_div" style="visibility:hidden; border: 3px solid cadetblue">
            <div class="col-md-2">

            </div>
            <div class="col-md-5">
                <p>Buy <span style="font-weight: bold" id="milesPicked"></span> Miles</p>
                <p>You will have <span id="haveMiles" style="font-weight:bold"></span> Miles after this purchase</p>
            </div>
            <div class="col-md-2">
                <span style="font-weight: bold">Total:</span> <span id="totalMoney"></span>€
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br />
        <button id="finish" value="Finish Purchase" type="submit" style="font-weight:bold; background-color:cadetblue" class="btn btn-primary btn-block">Complete Purchase</button>

    </form>
}
else
{
    <div class="col-12 text-center">
        <p>You have reached the maximum amount of miles you can purchase for this year(20000 miles)</p>
    </div>
}


<script type="text/javascript">
        function getData(Id) {
            var totalElem = document.getElementById("total_div")
            var finishElem = document.getElementById("finish")
            var milesPickedElem = document.getElementById("milesPicked")
            var haveMilesElem = document.getElementById("haveMiles")
            var totalMoneyElem = document.getElementById("totalMoney")

            totalElem.style.visibility = "visible";

            @foreach (var product in Model.ShopList)
            {
                <text>
                    if ('@product.Id' == Id) {

                        milesPickedElem.textContent = '@product.MileQuantity';
                        haveMilesElem.textContent = '@(Model.Miles_Bonus + product.MileQuantity)';
                        totalMoneyElem.textContent = '@product.Price';

                        @*finishElem.name = '@product.Id';*@
                        finishElem.style.display = "inline";
                        finishElem.style.visibility = "visible";
                    }
                </text>

            }
        }


        @*function submitPurchase(id) {
            console.log(id)

             $.ajax({
                 url: "@Url.Action("MileShopBuyMiles", "ClientArea")",
                 type: 'Post',
                 data: { id: id },
                 success: function (res) {

                 }
             })
        }*@

</script>

