@model ProjFinalCinelAirClient.Models.TransferMilesViewModel
@{
    ViewData["Title"] = "TransferMiles";
}


<br />
<div class="col-12 text-center">
    <h2>Transfer Miles</h2>
</div>


<div class="col-12 text-center">
    <p>
        Transfer Miles to another CinelAir Miles client
    </p>
</div>
<br />

 @if(!string.IsNullOrEmpty((string)@TempData["su"]))
 {
    <div>
        <div class="alert alert-success" style="font-size:large; font-weight:bold">@TempData["su"]</div>
    </div>
 }

@if (Model.ShopList.Count > 0)
{
    <div class="col-12 ">
        <p>
            Choose a client(by Client Number) to transfer miles to:
        </p>
    </div>
    <form method="post" asp-action="MileShopTransferMiles_confirm">
        <input type="hidden" asp-for="Id" />
        <p>
            <span style="font-weight:bold">Client: </span><input asp-for="SelectedClientNumber" type="search" placeholder="Client Number" style="width: 300px" />
        </p>


        @if (!string.IsNullOrEmpty((string)@TempData["c"]))
        {
            <div>
                <div class="alert alert-warning" style="font-size:large; font-weight:bold">@TempData["c"]</div>
            </div>
        }


        @if ((string)@TempData["t"] == "Selected Client does not exist!")
        {
            <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["t"]</div>
        }

        @if (!string.IsNullOrEmpty((string)TempData["error"]))
        {
            <div>
                <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["error"]</div>
            </div>
        }
        <br />

        <div class="col-12 ">
            <p>
                Select the amount you wish to transfer:
            </p>
        </div>
        <div class="row" style="font-weight: bold; grid-row-gap: 1em; grid-column-gap: 2em">
            @foreach (var item in Model.ShopList)
            {
                <div class="col-md-2 d-flex" style="vertical-align:middle; height:60px;border: solid 1px black">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center" style="background-color:cadetblue; vertical-align: middle;text-align: center; border: solid 1px lightblue">
                            <input value="@item.Id" type="radio"  onChange="getData()" asp-for="SelectedRadio" id="@item" />
                        </div>
                        <div class="col-9 d-flex align-items-center" style="text-align:center">
                            @item.MileQuantity Miles
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        @if (!string.IsNullOrEmpty((string)@TempData["radio"]))
        {
            <div>
                <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["radio"]</div>
            </div>
        }
        <br />

        <div style="font-weight: bold">
            <p> Miles transfers cost $7.50 EUR* per 1000 miles</p>
            <p>*Plus a processing fee of $30.00 per transaction</p>
        </div>

        <br />
        <div id="payment" class="row" style="visibility:hidden">
            <div class="col-md-6 offset-md-3">
                <div style="border: 1.5px black solid; border-radius:25px; padding: 15px; font-family: 'Arial Rounded MT', Arial, sans-serif">

                    <h2>Payment Form</h2>

                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="CardHolderName">Card Holder</label>
                                <input asp-for="CardHolderName" placeholder="Name" class="form-control" />
                                <span asp-validation-for="CardHolderName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="CardNumber">CardNumber</label>
                                <input asp-for="CardNumber" type="tel" maxlength="12" class="form-control" />
                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ExpirationDate">Card Expiry Date</label>
                                <input asp-for="ExpirationDate" value="@DateTime.Now.ToShortDateString()"  min="@DateTime.Now.ToShortDateString()" type="date" class="form-control" />
                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <br />


        <button id="finish" value="Finish Purchase" type="submit" class="btn btn-block btn-primary" style="font-weight: bold ;background-color:cadetblue">Complete Transfer</button>

    </form>


}
else
{
    @if (!string.IsNullOrEmpty((string)@TempData["t"]))
    {
        <div>
            <div class="alert alert-success" style="font-size:large; font-weight:bold">@TempData["c"]</div>
        </div>
    }

<div class="col-12 text-center">
    <br />
    <br />
    <p> To make a transfer, you need <span style="font-weight:bold">at least 2000 miles</span></p>
    <p>Your current Miles do not allow you to make a transfer or you've reached the maximum amount of miles you can transfer per year(20000 miles)</p>
</div>
}


<script type="text/javascript">
        function getData() {

            var paymentElem = document.getElementById("payment")

            paymentElem.style.visibility = "visible";
            paymentElem.style.display = "inline";

        }


</script>


@*<script type="text/javascript">
        function getData(Miles) {
            var totalElem = document.getElementById("total_div")
            var finishElem = document.getElementById("finish")
            var milesPickedElem = document.getElementById("milesPicked")
            var haveMilesElem = document.getElementById("haveMiles")
            var totalMoneyElem = document.getElementById("totalMoney")

            totalElem.style.visibility = "visible";

            @foreach (var product in Model.ShopList)
            {
                <text>
                    if ('@product' == Miles) {

                        milesPickedElem.textContent = '@product';

                        finishElem.name = '@product';
                        finishElem.style.display = "inline";
                        finishElem.style.visibility = "visible";
                    }
                </text>

            }
        }


        function submitSearch() {
            txtElem = document.getElementById("sbox")
            var aux = txtElem.value;
            console.log(txtElem.value)

            $.ajax({
                url: "@Url.Action("MileShopTransferMiles2", "ClientArea")",
                type: 'Get',
                data: { search: aux },
                 success: function (res) {

                 }
             })
        }


        function submitTransfer(id) {
            console.log(id)

             $.ajax({
                 url: "@Url.Action("MileShopTransferMiles_Confirm", "ClientArea")",
                 type: 'Post',
                 data: { id: id },
                 success: function (res) {

                 }
             })
        }

    </script>*@



