@model ProjFinalCinelAirClient.Models.DonationViewModel
@{
    ViewData["Title"] = "Balance and Transactions";
}


<br />
<br />
<div class="col-12 text-center">
    <h2>Donations</h2>
</div>
<br />
@if (!string.IsNullOrEmpty((string)TempData["donation"]))
{
    @if (TempData["donation"].ToString().Contains("Thank"))
    {
        <div>
            <div class="alert alert-success" role="alert" style="font-size:large; font-weight:bold">@TempData["donation"]</div>
        </div>
    }
    else
    {
        <div>
            <div class="alert alert-danger" role="alert" style="font-size:large; font-weight:bold">@TempData["donation"]</div>
        </div>
    }
}

<br />

<form method="post" asp-action="Donations_Confirm">
    <input type="hidden" asp-for="Id" />


    @if (Model.DonationList.Count > 0)
    {
        <p style="font-size: large">Pick an Institution</p>
        <hr />
        <div style="width: 200px; word-break:break-word; border: black 1px solid; text-align:center; grid-row-gap: 1em; grid-column-gap: 1em">
            @foreach (var item in Model.DonationList)
            {
                <div style="height:100px; margin-top: 10px;border:1px solid blue; margin-left: 20px;margin-right:20px">
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="Image" style="border-radius:25px; max-width: 100%; height: 100%; " />
                    }
                </div>
                <br />
                <div>
                    <p style="font-weight:bold">@item.Name</p>

                    <p>@item.Description</p>

                    <p>@item.Contact</p>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="border-top: 1px solid black; height: 40px; background-color: dodgerblue">
                    <input value="@item.Id" type="radio" asp-for="SelectedPartner" id="@item.Id" />
                </div>
            }
        </div>
        <br />

        <hr />
        <br />
        <p style="font-size: large">Choose the amount of miles to donate</p>
        <div class="row" style="font-weight: bold; grid-row-gap: 1em; grid-column-gap: 2em">
            @foreach (var item in Model.ShopList)
            {
                <div class="col-md-2 d-flex" style="vertical-align:middle; height:60px;border: solid 1px black">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center" style="background-color:cadetblue; vertical-align: middle;text-align: center; border: solid 1px lightblue">
                            <input value="@item.MileQuantity" type="radio" asp-for="SelectedItem" id="@item" />
                        </div>
                        <div class="col-9 d-flex align-items-center" style="text-align:center">
                            @item.MileQuantity Miles
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />

        <input type="submit" class="btn btn-primary btn-block" value="Complete Donation" />

    }
    else
    {
        <br />
        <div class="col-12 text-center">
            <h4>We apreciate your donations, but there aren't any partners in need at this time. Check back later</h4>
        </div>
        <br />
    }
    <br />
    <br />



</form>